* {
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
}
body {
    margin: 0;
    padding: 0
}
.page {
    margin: 0;
    min-width: 100%;
    text-align: center;
}
.wrapper {
    max-width: 1236px;
    padding: 18px;
    margin: 0 auto;
}
.print-wrapper {
    max-width: 600px;
    margin-right: auto;
    margin-left: auto;
    clear: both;
    page-break-before: always;
    page-break-after: always;
}
.print-wrapper.landscape {
    max-width: 780px;
}
.body-blue {
    background-color: #223372;
    color: #FFF;
}
#item-table {
    margin: 0 auto;
    width: 800px;
    color: #FFF;
    font-size: 18px;
}
#item-table th {
    font-weight: 200;
    font-size: 24px;
}
#item-table td {
    padding-top: 10px;
    border-collapse: collapse;
}
#item-table td:first-child {
    border-bottom: 1px solid #FFF;
}
#item-table td input {
    box-sizing: border-box;
    margin: 0;
    border: 0;
    padding: 5px 35px;
    width: 100%;
    font-size: inherit;
}
#radio {
    margin: 10px auto;
    padding-top: 35px;
}
#print-button {
    background-color: #FFF;
    color: #223372;
    width: 200px;
    height: 60px;
    padding: 5px 15px;
    margin: 15px auto;
    border: 0;
    text-align: center;
    font-weight: 600;
    font-size: 20px;
}
#return-button {
    position: fixed;
    top: 80px;
    right: 15px;
    background-color: #223372;
    color: #FFF;
    width: 200px;
    height: 60px;
    padding: 5px 15px;
    margin: 15px auto;
    border: 0;
    text-align: center;
    font-weight: 600;
    font-size: 20px;
}
#demo-ticket {
    background-color: #FFF;
}
.ticket {
    color: #333;
    border: 3px solid #222;
    text-align: left;
    width: 300px;
    height: 150px;
    float:left;
    page-break-inside: avoid;

}
.ticket-body {
    padding-left: 25px;
}
.ticket-item-name {
    font-weight: 200;
    font-size: 28px;
    margin: 0;
}
.ticket-item-price {
    font-weight: 400;
    font-size: 24px;
    margin-bottom: 0;
}
.ticket-signature {
    float: right;
    height: 50px;
    width: 50px;
}
.ticket-number {
    clear: right;
    float: right;
    text-align: right;
    font-size: 24px;
    font-weight: 800;
}
.count-item {
    display: block;
    min-height: 1px;
    clear: both;
    text-align: left;
    margin: 15px 0;
    padding: 15px 0;
}
.count-item h3 {
    float: left;
    display: block;
    width: 180px;
    height: 100px;
    margin: 0;
    border-bottom: 1px solid #777;
    font-weight: 600;
}
.count-item h3 span {
    display: block;
    font-weight: 300;
}
.count-item h3 span::before {
    content: 'Printed : ';
}
.count-col {
    background-color: #CCC;
    border-collapse: collapse;
    float: left;
    height: 100px;
    width: 20px;
    border: 1px solid #333;
}
.count-block {
    background-color: #FFF;
    border-collapse: collapse;
    height: 20px;
    width: 20px;
    border: 1px solid #333;
}
